
body{
    background-color: white;
}

#displayer{
    background-color: grey;
    width: 98%;
    border: 3px solid black;
}

#display{
    margin-right: 5px;
    text-align:right;
}

#container{
    background-color: grey;
    margin-left: 40%;
    margin-top: 10%;
    border: 10px solid rgb(44, 44, 44);
    width: 20%;
    height: 400px;
}

#container div button{
    font-size: 40px;
    font-weight: bolder;
    border-radius: 10%;
}

.numbos{
    width: 63px;
    height: 63px;
    background-color: rgb(16, 224, 228);
}

.numbos:active{
    width: 63px;
    height: 63px;
    background-color: rgb(93, 238, 240);
}

.operators{
    background-color: orange;
    width: 63px;
    height: 63px;
}

.operators:active{
    background-color: rgb(245, 204, 129);
    width: 63px;
    height: 63px;
}

#clear{
    height: 63px;
    background-color: skyblue;
}

#clear:active{
    height: 63px;
    background-color: rgb(184, 225, 241);
}

.headers{
    margin-left:2px;
}